<a href="https://colab.research.google.com/github/FrancescoRito/Dashboard_F1/blob/main/table_circuits.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import json as j
import pandas as pd
import requests as r


#Get Connection with the API
base_url = "http://ergast.com/api/f1/circuits.json"

URL0= r.get(base_url)

info=URL0.json()

#Json the api link to get all the data
info=URL0.json()

total=info['MRData']['total']

#Get a new api connection with the total of the data
URL1="http://ergast.com/api/f1/circuits.json?limit="+total

URL=r.get(URL1)

#Import of the data in json format
circuits_info=URL.json()

#Create lists for the final dataframe
circuitId = []
circuitName = []
locality = []
country = []
latlong = []

#Looping the json file to get all the data
for circuit in circuits_info['MRData']['CircuitTable']['Circuits']:
   circuitId.append(circuit['circuitId'])
   circuitName.append(circuit['circuitName'])
   locality.append(circuit['Location']['locality'])
   country.append(circuit['Location']['country'])
   latlong.append(circuit['Location']['lat']+','+circuit['Location']['long'])

#Create the dataframe
circuits_df = pd.DataFrame({ 'circuitId' : circuitId,
                             'circuitName' : circuitName,
                             'locality' : locality,
                            'country' : country,
                            'lat,long' : latlong
                            })
circuits_df

,circuitId,circuitName,locality,country,"lat,long"
0,adelaide,Adelaide Street Circuit,Adelaide,Australia,"-34.9272,138.617"
1,ain-diab,Ain Diab,Casablanca,Morocco,"33.5786,-7.6875"
2,aintree,Aintree,Liverpool,UK,"53.4769,-2.94056"
3,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,"-37.8497,144.968"
4,americas,Circuit of the Americas,Austin,USA,"30.1328,-97.6411"
...,...,...,...,...,...
72,yas_marina,Yas Marina Circuit,Abu Dhabi,UAE,"24.4672,54.6031"
73,yeongam,Korean International Circuit,Yeongam County,Korea,"34.7333,126.417"
74,zandvoort,Circuit Park Zandvoort,Zandvoort,Netherlands,"52.3888,4.54092"
75,zeltweg,Zeltweg,Styria,Austria,"47.2039,14.7478"
76,zolder,Zolder,Heusden-Zolder,Belgium,"50.9894,5.25694"